body {
    font-family: "Lucida Console", Monaco, monospace;
}

p {
    line-height: 1.25;
}

tr {
    width: 100%;
}

h1 {
    text-align: center;
    font-style: bold;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-style: bold;
}

h3 {
    text-align: center;
    font-style: bold;
}

h2 a {
    text-decoration: none;
    color: blue;
}

li {
    line-height: 1.25;
}

input, textarea {
    font-size: 1.5em;
    border-radius: 5px;
    font-family: "Lucida Console", Monaco, monospace;
    resize: none;
}

textarea {
    border-color: black;
    border-width: 3px;
}

.bodyDiv {    
    width: 80%;
	margin: auto;
	width: 95%;
}